body{
    margin:0;
    background: #eeeeee;
}
header{
    min-height: 40vh;
    background:url(https://source.unsplash.com/GKN6rpDr0EI/960x640) bottom center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
    text-shadow: 1px 1px black;
}
h1{
    margin:0;
    position: relative;
    top:7rem;
}
nav{
    position: relative;
    z-index: 1;
    top:0;
    background-color: black;
    width:100%;
}
nav ul{
    margin:0;
    max-width: 100%;
    list-style:none;
    display: flex;
    padding: 0;
    transition: all 0.5s;
    
}
nav ul li{
    padding:20px 0;
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
}
li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all .5s;
    font-weight: 600;
    font-size: 30px;
}
.fixed-nav li.logo{
    max-width:100vw;
}
.fixed-nav nav{
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

.logo a{
    color:black;
}
a{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.page{
    max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}
.fixed-nav .page{
    transform:scale(1);
}
.align-left{
    float:left;
    margin-right:40px;
    max-width:50%;
    position:relative;
    right:40px;
    transition: all 0.3s;
}
.slide-in.align-left{
    transform:translateX(40px);
}
.slide-in.align-right{
    transform:translateX(-40px);
}
.align-right{
    float:right;
    margin-left: 40px;
    max-width: 50%;
    transition: all 0.3s;
    position:relative;
    left:40px;
}