body{
  margin: 0;
  text-align: center;
  align-items: center;
  background: #193549;
  color:white;
  font-family: 'helvetica';
  font-size: 3rem;
}
:root{
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

img{
  padding: var(--spacing);
  background: var(--base);
  filter:blur(var(--blur));
  width: 50%;
  height:400px;
}
.h1{
  color:var(--base);
}
h2{
  margin-bottom: 0;
}
.controls{
  font-family: 'Monteserrat';
  font-size:1.5rem;
  font-weight: 100;
  padding: 3% 0;
}
